﻿@model DataAccessLibrary.Models.Percurso

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Percurso</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("Nome", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tempoPe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tempoPe, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tempoPe, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tempoCarro, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tempoCarro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tempoCarro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kmTotal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kmTotal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kmTotal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tempoPlaneado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tempoPlaneado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tempoPlaneado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tempoViagem, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Label("4h")
                @Html.RadioButton("Tempo","4",true)
                @Html.Label("8h")
                @Html.RadioButton("Tempo", "8")
                @Html.ValidationMessageFor(model => model.tempoViagem, "", new { @class = "text-danger" })
            </div>
        </div>
<div class="form-group">
    @Html.Label("POIs", htmlAttributes: new { @class = "control-label col-md-2" })
    </div>
    @{
        <div>
            <table>
                <tr>
                    <td align="center" width="85px"></td>
                    <td align="center" width="75"></td>
                    <td align="center" width="150px">@Html.Label("Nome")</td>
                    <td align="center" width="150px">@Html.Label("Local")</td>
                    <td align="center" width="150px">@Html.Label("Hashtags")</td>
                    <td align="center" width="150px">@Html.Label("Acessível")</td>
                </tr>
                @foreach (var item in ViewBag.POIs)
                {
                    string nome = item.Name;
                    string hash = "";
                    foreach(var h in item.hashtags)
                    {
                        hash+=h.Name+", ";
                    }
                    
                    <tr>
                        <td align="center" ></td>
                        <td align="center" >@Html.CheckBox(@nome)</td>
                        <td align="center" >@item.Name</td>
                        <td align="center">@item.Local.Name</td>
                        <td align="center" >@hash</td>
                        <td align="center" >@item.accessivel</td>
                    </tr>
                }
            </table>
        </div>
    }

        <div class="form-group">
            @Html.LabelFor(model => model.predefinido, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBox("Definido_Check", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.predefinido, "", new { @class = "text-danger" })
            </div>
        </div>
    

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
            }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
