﻿@model DataAccessLibrary.Models.Percurso

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Percurso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.listaPoi)
        </dt>
        <dd>
            @foreach (var item in Model.listaPoi)
            {
                @Html.DisplayFor(model => item.Name)
                if (!Model.listaPoi.Last().Equals(item))
                {
                    @Html.Raw(", ")
                }
            }

        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tempoPe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tempoPe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tempoCarro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tempoCarro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kmTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kmTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tempoPlaneado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tempoPlaneado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tempoViagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tempoViagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.predefinido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.predefinido)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
