﻿@model DataAccessLibrary.Models.Percurso

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Percurso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.listaPoi)
        </dt>
        <dd>
            @foreach (var item in Model.listaPoi)
            {
                @Html.DisplayFor(model => item.Name)
                if (!Model.listaPoi.Last().Equals(item))
                {
                    @Html.Raw(", ")
                }
            }
            
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tempoPe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tempoPe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tempoCarro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tempoCarro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kmTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kmTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tempoPlaneado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tempoPlaneado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tempoViagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tempoViagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.predefinido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.predefinido)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.percursoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
