﻿@model IEnumerable<DataAccessLibrary.Models.Percurso>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.listaPoi)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tempoPe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tempoCarro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kmTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tempoPlaneado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tempoViagem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.predefinido)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        @*<td>
            @if (item.listaPoi.Count > 0)
            {
                @Html.DisplayFor(modelItem => item.listaPoi.First().Name)
            }
            @if (item.listaPoi.Count > 1)
            {
                @Html.Raw(",...")
            }
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tempoPe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tempoCarro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kmTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tempoPlaneado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tempoViagem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.predefinido)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.percursoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.percursoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.percursoID })
        </td>
    </tr>
}

</table>
