<?php
$title = 'Agenda';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<table class="table">
	<tr>
		<th>ID</th>
		<th>Utilizador</th>
		<th>Nome</th>
		<th>Percurso</th>
		<th>&nbsp;</th>
	</tr>
	<?php foreach ($agendas as $agenda) :?>
	<tr>
		<td><?php echo $this->escapeHtml($agenda['AgendaID']);?></td>
		<td><?php echo $this->escapeHtml($agenda['UserId']);?></td>
		<td><?php echo $this->escapeHtml($agenda['Nome']);?></td>
		<td><?php echo $this->escapeHtml($agenda['PercursoID']);?></td>
	</tr>
	<?php endforeach?>
</table>