<?php
$title = 'POI';
$this->headTitle($title);

?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
	<a href="<?php echo $this->url('pontopercurso', array('action'=>'sugerir','id' => $this->id));?>">Sugerir novo POI</a>
</p>
<table class="table">
	<tr>
		<th>Nome</th>
		<th>Utilizador</th>
		<th>Local</th>
		<th>Acessibilidade</th>
		<th>Tempo de visita</th>
		<th>&nbsp;</th>
	</tr>
	<?php foreach ($pontospercurso as $ponto) : ?>
	<tr>
 		<td><?php echo $this->escapeHtml($ponto['Name']);?></td>
 		<td><?php echo $this->escapeHtml($ponto['Username']);?></td>
 		<?php $local=$ponto['Local'];
 		$localName=$local['Name'];
 		$acess=$ponto['accessivel'];
 		?>
 		<td><?php echo $this->escapeHtml($localName);?></td>
 		<td><?php if($acess==1){
 		    echo('Sim');
 		}
 		else{
 		    echo('Nao');
 		}
 		    ;?></td>
 		<td><?php echo $this->escapeHtml($ponto['tempoVisita']);?></td>
	 	<td>
            <a href="<?php echo $this->url('pontopercurso',
                array('action'=>'details', 'id' => $ponto->id));?>">Selecionar</a>
            <a href="<?php echo $this->url('pontopercurso',
                array('action'=>'edit','id'=>$ponto->id));?>">Editar</a>
		</td>
	</tr>
<?php endforeach; ?>
</table>
