<?php
$title = 'Ponto de Percurso:';
$this->headTitle("Meteorologia");
?>
<h1><?php echo $this->escapeHtml($title);?></h1>

<table class="table">
	<tr>
		<td><b>Nome: </b></td>
		<td><?php echo $this->escapeHtml($this->ponto->nome)?></td>
	</tr>
	<tr>
		<td><b>Descricao: </b></td>
		<td><?php echo $this->escapeHtml($this->ponto->descricao)?></td>
	</tr>
	<tr>
		<td><b>Local: </b></td>
		<td><?php echo $this->escapeHtml($this->ponto->local)?></td>
	</tr>
	<tr>
		<td><b>Latitude: </b></td>
		<td><?php echo $this->escapeHtml($this->ponto->gps_lat + 0)?></td>
	</tr>	
	<tr>
		<td><b>Longitude: </b></td>
		<td><?php echo $this->escapeHtml($this->ponto->gps_long + 0)?></td>
	</tr>
</table>


<br />
<br />
<br />
<h1><?php echo $this->escapeHtml("Meteorologia:");?></h1>
<table class="table">
	<tr>
		<th></th>
		<th>Minimo</th>
		<th>Maximo</th>
	</tr>
	<tr>
		<td><b>Temperatura: </b></td>
		<td><?php echo $this->escapeHtml($meteorologias[0] == null ? "No Available Data" : $meteorologias[0]->Temperature +0 )?></td>
		<td><?php echo $this->escapeHtml($meteorologias[1] == null ? "No Available Data" : $meteorologias[1]->Temperature + 0)?></td>
	</tr>
	<tr>
		<td><b>Vento: </b></td>
		<td><?php echo $this->escapeHtml($meteorologias[0] == null ? "No Available Data" : $meteorologias[0]->Wind + 0)?></td>
		<td><?php echo $this->escapeHtml($meteorologias[1] == null ? "No Available Data" : $meteorologias[1]->Wind + 0)?></td>
	</tr>
	<tr>
		<td><b>Humidade: </b></td>
		<td><?php echo $this->escapeHtml($meteorologias[0] == null ? "No Available Data" : $meteorologias[0]->Humidity + 0)?></td>
		<td><?php echo $this->escapeHtml($meteorologias[1] == null ? "No Available Data" : $meteorologias[1]->Humidity + 0)?></td>
	</tr>
</table>
