<?php
use TukPorto\Services\WebApiServices;

$title = 'Sugerir POI';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<?php
$form->setAttribute('action',$this->url('pontopercurso', array('action' => 'sugerir')));
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
echo $this->formRow($form->get('nome'));
echo "<br/>";
echo $this->formRow($form->get('descricao'));
echo "<br/>";
echo $this->formRow($form->get('local'));
echo "<br/>";
echo $this->formRow($form->get('gps_lat'));
echo "<br/>";
echo $this->formRow($form->get('gps_long'));
echo "<br/>";
echo $this->formRow($form->get('hashtags'));
echo "<br/>";
echo $this->formRow($form->get('tempoVisita'));
echo "<br/>";
echo $this->formRow($form->get('disponibilidade_segunda'));
echo "<br/>";
echo $this->formRow($form->get('disponibilidade_terca'));
echo "<br/>";
echo $this->formRow($form->get('disponibilidade_quarta'));
echo "<br/>";
echo $this->formRow($form->get('disponibilidade_quinta'));
echo "<br/>";
echo $this->formRow($form->get('disponibilidade_sexta'));
echo "<br/>";
echo $this->formRow($form->get('disponibilidade_sabado'));
echo "<br/>";
echo $this->formRow($form->get('disponibilidade_domingo'));
echo "<br/>";
echo $this->formRow($form->get('acessibilidade'));
echo "<br/>";
echo $this->formSubmit($form->get('submit'));
echo $this->form()->closeTag();