<?php
use TukPorto\Services\WebApiServices;

$title = 'Registo';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<?php
$form->setAttribute('action',$this->url('turista', array('action' => 'register')));
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
echo $this->formRow($form->get('email'));
echo "<br/>";
echo $this->formRow($form->get('password'));
echo "<br/>";
echo $this->formRow($form->get('disponibilidade_segunda'));
echo "<br/>";
echo $this->formRow($form->get('disponibilidade_terca'));
echo "<br/>";
echo $this->formRow($form->get('disponibilidade_quarta'));
echo "<br/>";
echo $this->formRow($form->get('disponibilidade_quinta'));
echo "<br/>";
echo $this->formRow($form->get('disponibilidade_sexta'));
echo "<br/>";
echo $this->formRow($form->get('disponibilidade_sabado'));
echo "<br/>";
echo $this->formRow($form->get('disponibilidade_domingo'));
echo "<br/>";
echo $this->formRow($form->get('acessibilidade'));
echo "<br/>";
echo $this->formSubmit($form->get('submit'));
echo $this->form()->closeTag();