<?php
$title = 'Adicionar percurso';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<?php
$form->setAttribute('action', $this->url('percurso', array('action' => 'add')));
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
echo $this->formRow($form->get('nome'));
echo "<br/>";
echo $this->formRow($form->get('tempoPe'));
echo "<br/>";
echo $this->formRow($form->get('tempoCarro'));
echo "<br/>";
echo $this->formRow($form->get('kmTotal'));
echo "<br/>";
echo $this->formRow($form->get('tempoPlaneado'));
echo "<br/>";
echo $this->formRow($form->get('tempoViagem'));
echo "<br/>";
echo $this->formRow($form->get('pois'));
echo "<br/>";
echo $this->formSubmit($form->get('submit'));
echo $this->form()->closeTag();
