<?php
$title = 'Apagar Percurso';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>Apagar percurso com descricao <?php echo $this->escapeHtml($percurso->descricao); ?>?
</p>
<?php
$url = $this->url('percurso', array(
 'action' => 'delete',
 'id' => $this->id,
));
?>
<form action="<?php echo $url; ?>" method="post">
<div>
 <input type="hidden" name="id" value="<?php echo (int) $percurso->id; ?>" />
 <input type="submit" name="del" value="Sim" />
 <input type="submit" name="del" value="Nao" />
</div>
</form>