<?php
$title = 'Percursos';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
 <a href="<?php echo $this->url('percurso', array('action'=>'add'));?>">Adicionar novo percurso</a>
</p>

<table class="table">
	<tr>
		<th>Nome</th>
		<th>Utlizador</th>
		<th>Tempo de Viagem</th>
		<th>Km Total</th>
		<th>&nbsp;</th>
	</tr>
	<?php foreach ($percursos as $percurso) : ?>
	<tr>
 		<td><?php echo $this->escapeHtml($percurso['Name']);?></td>
 		<td><?php echo $this->escapeHtml($percurso['Username']);?></td>
 		<td><?php echo $this->escapeHtml($percurso['tempoViagem']);?></td>
 		<td><?php echo $this->escapeHtml($percurso['kmTotal']);?></td>
	 	<td>
	 		<a href="<?php echo $this->url('percurso',
                array('action'=>'index', 'id' => $percurso['id']));?>">Selecionar</a>
			<a href="<?php echo $this->url('percurso',
                array('action'=>'edit', 'id' => $percurso['id']));?>">Editar</a>
 			<a href="<?php echo $this->url('percurso',
                array('action'=>'delete', 'id' => $percurso['id']));?>">Apagar</a>
		</td>
	</tr>
<?php endforeach; ?>
</table>
