﻿@model DataAccessLibrary.Models.POI

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>POI</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocalID, "LocalID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LocalID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LocalID, "", new { @class = "text-danger" })
            </div>
        </div>
        @{
            List<SelectListItem> listItems = new List<SelectListItem>();
            foreach (var item in ViewBag.Hashtags)
            {
                listItems.Add(new SelectListItem
                {
                    Text = item.Name,
                    Value = item.Name,
                });
            }
        }
        <div class="form-group">
            @Html.Label("Hashtags", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBox("Hashtags", listItems, htmlAttributes: new { @class = "form-control" })
                @*@Html.ValidationMessageFor(model => model.hashtags, "", new { @class = "text-danger" })*@
            </div>
        </div> 
        <div class="form-group">
            @Html.Label("Novos Hashtags", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("Hashtags_New", new { htmlAttributes = new { @class = "form-control" } })
                @*@Html.ValidationMessageFor(model => model.hashtags, "", new { @class = "text-danger" })*@
            </div>
        </div> 

            <div class="form-group">
                @Html.LabelFor(model => model.tempoVisita, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.tempoVisita, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tempoVisita, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.accessivel, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.CheckBox("Acessivel_Check", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.accessivel, "", new { @class = "text-danger" })
                </div>
            </div>
            <!--Dias-->
            <div>
               <table>
                   <tr>
                       <td align="center" width="175px">@Html.Label("")</td>
                       <td align="center" width="75px">@Html.Label("Manha")</td>
                       <td align="center" width="75px">@Html.Label("Tarde")</td>
                       <td align="center" width="75px">@Html.Label("Noite")</td>
                   </tr>
                   <tr>
                       <td align="center" width="175px">@Html.Label("Segunda")</td>
                       <td align="center">@Html.CheckBox("Segunda_Manha")</td>
                       <td align="center">@Html.CheckBox("Segunda_Tarde")</td>
                       <td align="center">@Html.CheckBox("Segunda_Noite")</td>
                   </tr>
                   <tr>
                       <td align="center" width="175px">@Html.Label("Terça")</td>
                       <td align="center">@Html.CheckBox("Terça_Manha")</td>
                       <td align="center">@Html.CheckBox("Terça_Tarde")</td>
                       <td align="center">@Html.CheckBox("Terça_Noite")</td>
                   </tr>
                   <tr>
                       <td align="center" width="175px">@Html.Label("Quarta")</td>
                       <td align="center">@Html.CheckBox("Quarta_Manha")</td>
                       <td align="center">@Html.CheckBox("Quarta_Tarde")</td>
                       <td align="center">@Html.CheckBox("Quarta_Noite")</td>
                   </tr>
                   <tr>
                       <td align="center" width="175px">@Html.Label("Quinta")</td>
                       <td align="center">@Html.CheckBox("Quinta_Manha")</td>
                       <td align="center">@Html.CheckBox("Quinta_Tarde")</td>
                       <td align="center">@Html.CheckBox("Quinta_Noite")</td>
                   </tr>
                   <tr>
                       <td align="center" width="175px">@Html.Label("Sexta")</td>
                       <td align="center">@Html.CheckBox("Sexta_Manha")</td>
                       <td align="center">@Html.CheckBox("Sexta_Tarde")</td>
                       <td align="center">@Html.CheckBox("Sexta_Noite")</td>
                   </tr>
                   <tr>
                       <td align="center" width="175px">@Html.Label("Sabado")</td>
                       <td align="center">@Html.CheckBox("Sabado_Manha")</td>
                       <td align="center">@Html.CheckBox("Sabado_Tarde")</td>
                       <td align="center">@Html.CheckBox("Sabado_Noite")</td>
                   </tr>
                   <tr>
                       <td align="center" width="175px">@Html.Label("Domingo")</td>
                       <td align="center">@Html.CheckBox("Domingo_Manha")</td>
                       <td align="center">@Html.CheckBox("Domingo_Tarde")</td>
                       <td align="center">@Html.CheckBox("Domingo_Noite")</td>
                   </tr>
               </table>

            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
