﻿@model DataAccessLibrary.Models.POI

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>POI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Local)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Local.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.accessivel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.accessivel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tempoVisita)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tempoVisita)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.validado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.validado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.accessivel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.accessivel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.hashtags)
        </dt>
        <dd>
            @foreach (var item in Model.hashtags)
            {
                @Html.DisplayFor(model => item.Name)
                if (!Model.hashtags.Last().Equals(item))
                {
                    @Html.Raw(", ")
                }
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dias)
        </dt>
        <dd>
            @foreach (var item in Model.dias)
            {
                @Html.DisplayFor(model => item.Day)
                @Html.Raw(" de ")
                @Html.DisplayFor(model => item.TimeOfDay)
                if (!Model.dias.Last().Equals(item))
                {
                    @Html.Raw(", ")
                }
            }
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
