﻿@model DataAccessLibrary.Models.POI

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>POI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Local)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Local.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tempoVisita)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tempoVisita)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.validado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.validado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.accessivel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.accessivel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.hashtags)
        </dt>
        <dd>
            @foreach (var item in Model.hashtags)
            {
                @Html.DisplayFor(model => item.Name)
                if (!Model.hashtags.Last().Equals(item)) {
                    @Html.Raw(", ")
                }
            }          
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dias)
        </dt>
        <dd>
            @foreach (var item in Model.dias)
            {
                @Html.DisplayFor(model => item.Day)
                @Html.Raw(" de ")
                @Html.DisplayFor(model => item.TimeOfDay)
                if (!Model.dias.Last().Equals(item))
                {
                    @Html.Raw(", ")
                }
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.POIID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
