﻿@model DataAccessLibrary.Models.POI

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>POI</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.POIID)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocalID, "Local", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LocalID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LocalID, "", new { @class = "text-danger" })
            </div>
        </div>
        @{
            List<SelectListItem> listItems = new List<SelectListItem>();
            foreach (var item in ViewBag.Hashtags)
            {
                listItems.Add(new SelectListItem
                {
                    Text = item.Name,
                    Value = item.Name,
                    Selected = true,
                });
            }
        }
        <div class="form-group">
            @Html.Label("Hashtags", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class = "form-control" name="Hashtags" id="Hashtags" multiple>
                    @{
                        List<string> hash = new List<string>();
                        foreach (var item in ViewBag.POIHashtags)
                        {
                            hash.Add(item.Name);
                        }
                        foreach (var item in ViewBag.Hashtags)
                        {
                            if (hash.Contains(item.Name))
                            {
                                <option selected="selected">@item.Name</option>
                            }
                            else
                            {
                                <option>@item.Name</option>
                            }
                        }
                    }
                </select>
                @*@Html.ListBox("Hashtags", listItems, htmlAttributes: new { @class = "form-control"})*@
                @*@Html.ValidationMessageFor(model => model.hashtags, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Novos Hashtags", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("Hashtags_New", new { htmlAttributes = new { @class = "form-control" } })
                @*@Html.ValidationMessageFor(model => model.hashtags, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tempoVisita, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tempoVisita, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tempoVisita, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.accessivel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBox("Acessivel_Check", Model.accessivel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.accessivel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.validado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBox("Validado_Check",Model.validado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.validado, "", new { @class = "text-danger" })
            </div>
        </div>
        <!--Dias-->
        @{ 
            List<Boolean> checkedItems = new List<Boolean>();
            for (int i=0;i<21;i++)
            {
                checkedItems.Add(false);
            }
            foreach (var item in ViewBag.Disp)
            {
                int id = (((int)item.Day - 2)*3) + ((int)item.TimeOfDay);
                checkedItems[id] = true;
            }
        }
        <div>
            <table>
                <tr>
                    <td align="center" width="175px">@Html.Label("")</td>
                    <td align="center" width="75px">@Html.Label("Manha")</td>
                    <td align="center" width="75px">@Html.Label("Tarde")</td>
                    <td align="center" width="75px">@Html.Label("Noite")</td>
                </tr>
                <tr>
                    <td align="center" width="175px">@Html.Label("Segunda")</td>
                    <td align="center">@Html.CheckBox("Segunda_Manha", checkedItems[0])</td>
                    <td align="center">@Html.CheckBox("Segunda_Tarde", checkedItems[1])</td>
                    <td align="center">@Html.CheckBox("Segunda_Noite", checkedItems[2])</td>
                </tr>
                <tr>
                    <td align="center" width="175px">@Html.Label("Terça")</td>
                    <td align="center">@Html.CheckBox("Terça_Manha", checkedItems[3])</td>
                    <td align="center">@Html.CheckBox("Terça_Tarde", checkedItems[4])</td>
                    <td align="center">@Html.CheckBox("Terça_Noite", checkedItems[5])</td>
                </tr>
                <tr>
                    <td align="center" width="175px">@Html.Label("Quarta")</td>
                    <td align="center">@Html.CheckBox("Quarta_Manha", checkedItems[6])</td>
                    <td align="center">@Html.CheckBox("Quarta_Tarde", checkedItems[7])</td>
                    <td align="center">@Html.CheckBox("Quarta_Noite", checkedItems[8])</td>
                </tr>
                <tr>
                    <td align="center" width="175px">@Html.Label("Quinta")</td>
                    <td align="center">@Html.CheckBox("Quinta_Manha", checkedItems[9])</td>
                    <td align="center">@Html.CheckBox("Quinta_Tarde", checkedItems[10])</td>
                    <td align="center">@Html.CheckBox("Quinta_Noite", checkedItems[11])</td>
                </tr>
                <tr>
                    <td align="center" width="175px">@Html.Label("Sexta")</td>
                    <td align="center">@Html.CheckBox("Sexta_Manha", checkedItems[12])</td>
                    <td align="center">@Html.CheckBox("Sexta_Tarde", checkedItems[13])</td>
                    <td align="center">@Html.CheckBox("Sexta_Noite", checkedItems[14])</td>
                </tr>
                <tr>
                    <td align="center" width="175px">@Html.Label("Sabado")</td>
                    <td align="center">@Html.CheckBox("Sabado_Manha", checkedItems[15])</td>
                    <td align="center">@Html.CheckBox("Sabado_Tarde", checkedItems[16])</td>
                    <td align="center">@Html.CheckBox("Sabado_Noite", checkedItems[17])</td>
                </tr>
                <tr>
                    <td align="center" width="175px">@Html.Label("Domingo")</td>
                    <td align="center">@Html.CheckBox("Domingo_Manha", checkedItems[18])</td>
                    <td align="center">@Html.CheckBox("Domingo_Tarde", checkedItems[19])</td>
                    <td align="center">@Html.CheckBox("Domingo_Noite", checkedItems[20])</td>
                </tr>
            </table>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
