﻿@model IEnumerable<DataAccessLibrary.Models.POI>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Local)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hashtags)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tempoVisita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.accessivel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.validado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Local.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @if (item.hashtags.Count > 0)
            {
                @Html.DisplayFor(modelItem => item.hashtags.First().Name)
            }
            @if (item.hashtags.Count > 1)
            {
                @Html.Raw(",...")
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tempoVisita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.accessivel)
        </td>
        <td>
            @if (item.dias.Count > 0) {
                @Html.DisplayFor(modelItem => item.dias.First().Day)
            }
            @if (item.dias.Count > 1)
            {
                @Html.Raw(",...")
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.validado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.POIID }) |
            @Html.ActionLink("Details", "Details", new { id=item.POIID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.POIID })
        </td>
    </tr>
}

</table>
