﻿@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Visita</h1>
    <br />
    <p class="lead">Get meteorology data given a Point of Interest, hour/time and an interval.</p>
    <p class="lead">Developed in ASP.NET MVC.</p>
</div>
