<?php echo $this->doctype(); ?>

<html lang="en">
<head>
<meta charset="utf-8">
        <?php echo $this->headTitle($this->translate('TukPorto'))->setSeparator(' - ')->setAutoEscape(false)?>

        <?php
        
        echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')?>

        <!-- Le styles -->
        <?php
        
        echo $this->headLink(array(
            'rel' => 'shortcut icon',
            'type' => 'image/vnd.microsoft.icon',
            'href' => $this->basePath() . '/img/favicon.ico'
        ))
            ->prependStylesheet($this->basePath('css/style.css'))
            ->prependStylesheet($this->basePath('css/bootstrap-theme.min.css'))
            ->prependStylesheet($this->basePath('css/bootstrap.min.css'))?>

        <!-- Scripts -->
        <?php
        
        echo $this->headScript()
            ->prependFile($this->basePath('js/bootstrap.min.js'))
            ->prependFile($this->basePath('js/jquery.min.js'))
            ->prependFile($this->basePath('js/respond.min.js'), 'text/javascript', array(
            'conditional' => 'lt IE 9'
        ))
            ->prependFile($this->basePath('js/html5shiv.js'), 'text/javascript', array(
            'conditional' => 'lt IE 9'
        ));
        ?>

    </head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="<?php echo $this->url('home') ?>">&nbsp;<?php echo $this->translate('TukPorto') ?></a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="<?php echo $this->url('percurso') ?>"><?php echo $this->translate('Percursos') ?></a></li>
					<li class="active"><a href="<?php echo $this->url('pontopercurso')?>"><?php echo $this->translate('POI')?></a></li>
					<li class="active"><a href="<?php echo $this->url('agenda')?>"><?php echo $this->translate('Agenda')?></a></li>
				</ul>

				
                     <?php
                     if (session_status() == PHP_SESSION_NONE) {
                         session_start();
                     }
                    if (isset($_SESSION['turista'])) {
                        ?>
                        <ul class="nav navbar-nav navbar-right">
                        	<li class="active"><a href="<?php echo $this->url('turista', array('controller'=>'turista', 'action' => 'logout')) ?>"><?php echo $this->translate('LogOut') ?></a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="<?php echo $this->url('turista', array('controller'=>'turista', 'action' => 'info')) ?>"><?php echo $this->translate($_SESSION['turista']) ?></a></li>
							
						</ul>
						<?php
                    } else {
                        ?>
                        <ul class="nav navbar-nav navbar-right">
							<li class="active"><a href="<?php echo $this->url('turista', array('controller'=>'turista', 'action' => 'register')) ?>"><?php echo $this->translate('Registo') ?></a></li>
						</ul>
                        <ul class="nav navbar-nav navbar-right">
                        	<li class="active"><a href="<?php echo $this->url('turista', array('controller'=>'turista', 'action' => 'login')) ?>"><?php echo $this->translate('Login') ?></a></li>
						</ul>
						<?php
                    }
                    ?>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>
	<div class="container">
            <?php echo $this->content; ?>
            <hr>
		<footer>
			<p>2016 TukPorto. <?php echo $this->translate('All rights reserved.') ?></p>
		</footer>
	</div>
	<!-- /container -->
        <?php echo $this->inlineScript()?>
    </body>
</html>
