﻿<div class="jumbotron">
    <h1>Cancela</h1>
    <br />
    <p class="lead">An API for creating, reading, updating and deleting meteorology data and POI's.</p>
    <p class="lead">Developed in ASP.NET Web API.</p>
</div>
